<launch>
  <node 
    pkg="livox_camera_calib"
    type="bag_to_pcd"
    name="bag_to_pcd"
    output="screen"
  />
   <param name="bag_file" type="string" value="/home/wfram/Datasets/courier/1_rsbp/1.bag"/>
   <param name="lidar_topic" type="string" value="/rslidar_points"/>
   <param name="pcd_file" type="string" value="/home/wfram/Datasets/courier/1_rsbp/pcd/1.pcd"/>
   <param name="is_custom_msg" type="bool" value="false"/>
   <param name="pcl_number" type="int" value="4" />
</launch>